<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Fusca Azul</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <b>Código:</b> 715235<p></p>
        <b>Descrição:</b> Rodela<p></p>
        <b>Tipo:</b> Parafuso<p></p>
        <b>Preço:</b> RS20,30<p></p>
        <b>Quantidade:</b> 100<p></p>
        <b>Loja:</b> Camanduazul<p></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
            <b>Código:</b> 725463<p></p>
            <b>Descrição:</b> Volante<p></p>
            <b>Tipo:</b> Guia<p></p>
            <b>Preço:</b> RS 105,90<p></p>
            <b>Quantidade:</b> 60<p></p>
            <b>Loja:</b> Extremazul<p></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
            <b>Código:</b> 756984<p></p>
            <b>Descrição:</b> Amortecedor<p></p>
            <b>Tipo:</b> Suspeção<p></p>
            <b>Preço:</b> RS 500,90<p></p>
            <b>Quantidade:</b> 50<p></p>
            <b>Loja:</b> Itapevaazul<p></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-label>
            <b>Código:</b> 758614<p></p>
            <b>Descrição:</b> Freio de mão<p></p>
            <b>Tipo:</b> Freio<p></p>
            <b>Preço:</b> RS 50,90<p></p>
            <b>Quantidade:</b> 500<p></p>
            <b>Loja:</b> Itapevaazul<p></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
